/*palette*/
$clear-blue: #00a8e8;
$aqua-blue : #007ea7;
$dark-blue : #003459;
$white     : #ffffff;
$dark      : #0c242b;
/*palette*/

.footer {
    position:absolute;
    bottom:0;
    width: 100%;
}