<!--**************************** -->
<!--Navbar -->
<!--**************************** -->
<app-navbar></app-navbar>
<!--**************************** -->
<!--Navbar -->
<!--**************************** -->


<!--**************************** -->
<!--main container -->
<!--**************************** -->
<div class="container-fluid pt-2 main">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
<!--**************************** -->
<!--main container -->
<!--**************************** -->


<!--**************************** -->
<!--footer -->
<!--**************************** -->
<footer class="footer">
    <app-footer></app-footer>

    <!--**************************** -->
    <!--footer -->
    <!--**************************** -->