<!--**************************** -->
<!--Main breed container -->
<!--**************************** -->
<div *ngIf="items" class="mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let item of items">
            <!--**************************** -->
            <!--Card -->
            <!--**************************** -->
            <app-card [data]="item"
                      (selectedCard)=receiveData($event)>
            </app-card>
            <!--**************************** -->
            <!--Card -->
            <!--**************************** -->
        </div>
    </div>
</div>
<!--**************************** -->
<!--Main breed container -->
<!--**************************** -->