<!--**************************** -->
<!--Navbar -->
<!--**************************** -->
<nav class="navbar navbar-expand-lg  bg-dark-blue">
    <div class="container-fluid">
        <a class="navbar-brand " [routerLink]="['/home']">
            <i class="fa-solid fa-shield-dog"></i> Mascopedia
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a [routerLink]="['/home']" class="nav-link active">Home</a>
                </li>

                <li class="nav-item">
                    <a [routerLink]="['cats']" class="nav-link active">Cats</a>
                </li>
            </ul>

            <input type="search" class="form-control rounded search-box " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0 bg-none" id="search-addon">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>

            <a [routerLink]="['/profile']" class="nav-link active">
                <i class="fa-solid fa-user"></i>

            </a>

            <a class="nav-link active" (click)="signOut()">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>


        </div>
    </div>
</nav>
<!--**************************** -->
<!--Navbar -->
<!--**************************** -->