/*palette*/
$clear-blue: #00a8e8;
$aqua-blue : #007ea7;
$dark-blue : #003459;
$white     : #ffffff;
/*palette*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
